.todoCard {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.todoWrap {
  border: 1px solid rgb(0, 110, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 150%;
}

.navbar {
  width: 100%;
  background-color: rgb(42, 58, 87);
  padding: 5px;
}

.todoWrapper {
  width: 100%;
  display: flex;
}

.left {
  margin: 20px;
  width: 60%;
}

.right {
  margin: 20px;
}

.todoCard__buttons {
  width: 100%;
  display: flex;
  gap: 10px;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.modalWindow {
  margin: 10px;
  padding: 20px;
  background: white;
  border-radius: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.modalWindow__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modalWindow__date {
  display: flex;
  gap: 10px;
  width: 100%;
}

.modalWindow__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contentDimmed {
  filter: blur(2px);
}

.modalWindow__date__inner {
  width: 100%;
}
